.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
}

.button {
  padding: 5px;
  display: inline-block;
  background-color: blue;
  margin: 1px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: none;
  transition: 0.15s linear box-shadow;
}

.button:hover {
  box-shadow: 2px 2px 6px grey;
}

/* Navbar part */

a.active {
  color: red;
}
.navbar {
  background-color: #92b7fe;
  width: 80%;
}

.navbar ul li {
  padding: 4px;
  list-style: none;
  display: inline-block;
  margin-right: 5rem;
}
.navbar ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-align: center;
  height: 30px;
  width: 50px;
  cursor: pointer;
}
.notfound {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: red;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

/* Home part */

.ctable table,
th,
td {
  border: 1px dotted black;
  padding: 5px;
  border-collapse: collapse;
}

.ctable th {
  background-color: indigo;
  color: white;
}

.btnv {
  background-color: green;
}
.btnd {
  background-color: red;
}

/* AddUser part */

.header {
  display: block;
  color: red;
  text-align: center;
}

.formclass input {
  display: block;
  height: 4rem;
  width: 20rem;
  margin-top: 1rem;
}

.btnlow {
  margin: 1rem 2.1rem;
}
.btn1 {
  background-color: green;
}
.btn2 {
  background-color: purple;
}

/* View Part */
.view {
  display: flex;
  flex-direction: column;
}

.view li {
  list-style: none;
  font-weight: bold;
  font-size: 20px;
}
